@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Milo MacPhail
    100 Niantic Avenue
    Providence, Rhode Island
</address>

<address>
    <strong>Support:</strong>   <a href="milomacphail.student@careerdevs.com">Have Milo solve the messes he made on this application.</a><br />
    <strong>Marketing:</strong> <a href="milomacphail.student@careerdevs.com">Let Milo market for you.</a>
</address>