<<<<<<< HEAD
﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Milo MacPhail
    100 Niantic Avenue
    Providence, Rhode Island
</address>

<address>
    <strong>Support:</strong>   <a href="milomacphail.student@careerdevs.com">Have Milo solve the messes he made on this application.</a><br />
    <strong>Marketing:</strong> <a href="milomacphail.student@careerdevs.com">Let Milo market for you.</a>
=======
﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Milo MacPhail
    100 Niantic Avenue
    Providence, Rhode Island
</address>

<address>
    <strong>Support:</strong>   <a href="milomacphail.student@careerdevs.com">Have Milo solve the messes he made on this application.</a><br />
    <strong>Marketing:</strong> <a href="milomacphail.student@careerdevs.com">Let Milo market for you.</a>
>>>>>>> 961900145e26f7e80545174cdae75294aee15081
</address>